@font-face {
  src: url('/fonts/MaShanZheng-Regular.ttf') format('truetype');
  font-family: 'mashanzheng';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.font-mashanzheng {
  font-family: 'mashanzheng', sans-serif;
}
