@font-face {
  src: url('/fonts/MaShanZheng-Regular.woff2') format('woff2');
  font-family: 'mashanzheng';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.font-mashanzheng {
  font-family: 'mashanzheng', sans-serif;
}
