@font-face {
  src: url('./assets/fonts/MaShanZheng-Display.woff2') format('woff2');
  font-family: 'mashanzheng-display';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.font-mashanzheng-display {
  font-family: 'mashanzheng-display', sans-serif;
}
