@import "tailwindcss";

@font-face {
  font-family: 'gravitas-one';
  src: url('/fonts/GravitasOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'titillium-web';
  src: url('/fonts/TitilliumWeb-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
    --color-dark-900: #1b1f23;
    --color-dark-700: #1f2428;
    --color-dark-500: #24292e;
    --color-dark-300: #353a3e;
    --color-dark-100: #52575b;

    --font-gravitas-one: 'gravitas-one', sans-serif;
    --font-titillium-web: 'titillium-web', sans-serif;
}

body {
    @apply bg-dark-700 text-[#e1e4e8] font-titillium-web;
}

.main-container {
    @apply w-full sm:w-11/12 md:w-10/12 lg:w-8/12 xl:w-7/12 mx-auto px-4;
}

.theme-button {
    @apply rounded-lg px-8 py-2 hover:cursor-pointer hover:brightness-125 transition;
}

