@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  src: url('/fonts/Bitter-VariableFont_wght.ttf') format('truetype');
  font-family: 'bitter';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-bitter: 'bitter', sans-serif;
}

@layer base {
  * {
    color: var(--color-black);
    @variant dark {
      color: var(--color-slate-50);
    }
  }
  body {
    background: var(--color-stone-50);
    @variant dark {
      background: var(--color-neutral-800);
    }
  }
}

@layer utilities {
  .base-container {
    @apply mx-auto w-full px-6 md:w-150 lg:w-200 xl:w-260;
  }
}

@layer components {
}
